/* .rbc-date-cell a{
    background:grey;
    color:white;
    border-radius: 40px;
    padding:5px;
}

.rbc-date-cell{
    margin-top: 10px;
} */

.read-event-card{
    width:250px;
}

.temp-cal_button{
    background-color: #3474ad;
    border: none;
    padding: 5px 20px;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px grey;
}

.event-crud-icons{
    display: grid;
    grid-template-columns: 50% auto auto auto;
}

.crud-icon-c{
    width:18px;
    margin:0px auto;
    cursor: pointer;
}

.template-calendar-grid{
    display: grid;
    grid-template-columns: 15% 85%;
}

.event-color-section{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 20px
}

.rbc-toolbar-label{
    font-size: 25px;
    color: #313e6c;
    font-weight: bold;
}
.color-block-div{
    width:20px;
    height: 20px;
    cursor: pointer;
    border-radius: 3px
}
.select-color-div{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    margin-left: 10px
}

.color-block-div-active{
    transform:scale(1.2);
    border:1px solid grey;
    box-shadow:0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
}